{% extends "cadastros/base_lista.html" %}

{% block icone %}bi-droplet{% endblock %}
{% block rotulo_novo %}Nova matéria-prima{% endblock %}

{% block celulas %}
    <td>
        <a href="{{ objeto.get_absolute_url }}" class="text-decoration-none">{{ objeto.codigo }}</a>
        {% if objeto.critico %}
            <span class="badge text-bg-warning">crítico</span>
        {% endif %}
    </td>
    <td>{{ objeto.nome }}</td>
    <td>{{ objeto.get_unidade_display }}</td>
    <td>{{ objeto.estoque_minimo|floatformat:"-3" }}</td>
{% endblock %}
